body {
  font-size: $default-font-size;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  height: 70px;
  color: white;
  padding: 0 20px;
  font-size: 24px;
}

#main-container {
  margin: 20px auto;
  padding: 0 20px;
  width: 375px;
}

.delete-destination-icon {
  display: none;
  float: right;
  color: #ccc;
  cursor: pointer;
}

.destination-enabled .delete-destination-icon {
  display: inline;
}

.new-destination-form {
  margin-top: 30px;
}